<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="logModalLabel">New ticket</h4>
        </div>
        <div class="modal-body">
            <div class="alert alert-danger" *ngIf="error != null">
                <div class="">
                    <h4><i class="icon fa fa-ban"></i> Возникла ошибка!</h4>
                    {{error}}
                </div>
            </div>
            <div class="box box-success">
                <div class="box-header">Ticket information</div>
                <div class="box-body">
                    <form method="post">
                        <div class="form-group">
                            <label>Project</label>
                            <select [(ngModel)]="project" class="form-control">
                                <option *ngFor="let project of projectList" [value]="project.id">{{project.title}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Summary</label>
                            <input type="text" class="form-control" [(ngModel)]="summary">
                        </div>
                    </form>
                </div>
            </div>
            <div class="box box-info">
                <div class="box-header">Properties</div>
                <div class="box-body">
                    <form method="post">
                        <div class="form-group">
                            <label>Priority</label>
                            <select [(ngModel)]="priority" class="form-control">
                                <option *ngFor="let p of priorities" [value]="p.value">{{p.title}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Bins</label>
                            <select [(ngModel)]="bin" class="form-control">
                                <option *ngFor="let b of bins" [value]="b.value">{{b.title}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4">
                                <div class="checkbox">
                                    <label>
                                        <input [(ngModel)]="testing" type="checkbox"> Testing
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="checkbox">
                                    <label>
                                        <input [(ngModel)]="approval" type="checkbox"> Approval
                                    </label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="box">
                <div class="box-header">Time Table</div>
                <div class="box-body">
                    <form method="post">
                        <div class="form-group">
                            <label>Date:</label>

                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input data-provide="datepicker" type="text" class="form-control pull-right">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Deadline:</label>

                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input data-provide="datepicker" type="text" class="form-control pull-right">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Estimated Hours:</label>

                            <div class="input-group date">
                                <input type="text" class="form-control pull-right">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="box">
                <div class="box-header">Time Table</div>
                <div class="box-body">
                    <form method="post">
                        <div class="form-group">
                            <label>Description</label>
                            <textarea class="form-control" rows="6" placeholder="Enter ..."></textarea>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Hide dialog</button>
            <button type="button" class="btn btn-primary" (click)="taskCreate()">Assign ticket</button>
        </div>
    </div>
</div>
<span class="modal-loader" [class.loading]="fetching"><span class="modal-loader-content"> <i class="fa fa-circle-o-notch fa-spin"></i> Отправка</span></span>
