<% for (let filter of data.filters) { %>
    <div class="form-group col-xs-12 col-md-6 col-lg-3">
        <label><%= filter.title %></label>
        <select class="form-control" [(ngModel)]="query[filter.model]" (change)="updateData(filter.model, $event.target.value)" >
            <% for (let id in filter.options) { %>
                <option value="<%= id %>" <%= id == filter.selected ? 'selected' : '' %>><%= filter.options[id] %></option>
            <% } %>
        </select>
    </div>
<% } %>